In [2]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file

start = datetime.datetime(2015,3,1)
end = datetime.datetime(2015,3,10)
df = data.DataReader(name = "GOOG", data_source="google",start=start,end=end)
df

              Open    High     Low   Close   Volume
Date
2015-03-02  560.53  572.15  558.75  571.34  2123796
2015-03-03  570.45  575.39  566.52  573.64  1700084
2015-03-04  571.87  577.11  568.01  573.37  1871694
2015-03-05  575.02  577.91  573.41  575.33  1385818
2015-03-06  574.88  576.68  566.76  567.68  1654561
2015-03-09  566.86  570.27  563.54  568.85  1059336
2015-03-10  564.25  564.85  554.73  555.01  1787357

In [16]:
def inc_dec(c, o):
    if c > o:
        value = "Increase"
    elif c < o:
        value = "Decrease"
    else:
        value = "Equal"
    return value
    
df["Status"]=[inc_dec(c,o) for c, o in zip(df.Close,df.Open)]

In [6]:
df["Middle"]=(df.Open-df.Close)/2
df["Height"]=abs(df.Close-df.Open)

In [5]:
df

              Open    High     Low   Close   Volume  Middle
Date
2015-03-02  560.53  572.15  558.75  571.34  2123796  -5.405
2015-03-03  570.45  575.39  566.52  573.64  1700084  -1.595
2015-03-04  571.87  577.11  568.01  573.37  1871694  -0.750
2015-03-05  575.02  577.91  573.41  575.33  1385818  -0.155
2015-03-06  574.88  576.68  566.76  567.68  1654561   3.600
2015-03-09  566.86  570.27  563.54  568.85  1059336  -0.995
2015-03-10  564.25  564.85  554.73  555.01  1787357   4.620

In [2]:
p=figure(x_axis_type='datetime', width=1000, height=300,title="Candlestick Chart")
#p.title="Candlestick Chart"

hours_12 = 12*60*60*1000

p.rect(df.index[df.Status=="Increase"],df.Middle[df.Status=="Increase"], 
       hours_12, df.Height[df.Status=="Increase"],fill_color="green",line_color="black")

p.rect(df.index[df.Status=="Decrease"],df.Middle[df.Status=="Decrease"],
       hours_12, df.Height[df.Status=="Decrease"], fill_color="red", line_color="black")

output_file("CS.html")
show(p)

NameError: name 'figure' is not defined